.container {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/Currcula-Henry.png"); */
  padding: 100px;
  background-size: cover;
  background-color: rgb(
    240,
    240,
    240
  ); /* Ajusta el tamaño de la imagen de fondo para cubrir todo el contenedor */
}

.formcontainer {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.formcontainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.formcontainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcontainer input {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formcontainer button {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 10px;
}

.formcontainer button:hover {
  background-color: #0056b3;
}

.title {
  text-align: center;
  margin: 10px;
}

.inputImage {
  display: none;
}

.complementaryText {
  text-align: center;
  color: #007bff;
  margin-top: 20px;
}


.titleLabel{
  text-align: left;
  margin: 10px;
  color: black;
}

label{
  color: black;
  text-align: left;
}