@font-face {
  font-family: "Montserrat-Regula";
  src: url(../src/assets/font/Montserrat-Regular.ttf);
}


body {
  margin: 0;
  font-family: "Montserrat-Regula"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(239, 233, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
}

li {
  list-style-type: none;
}


input,
textarea,
select,
button,
label {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}
