/* detail.module.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: grid; /* Usamos CSS Grid para el diseño */
    grid-template-columns: 50% auto; /* Divide el espacio en dos columnas: 50% y el resto */
  }
  
  .productImage {
    width: 556px;
    height: 556px;
    flex-shrink: 0;
    padding-right: 20px;
    flex-shrink: 0;
  }
  .detailsContainer{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
  }
  .detailsContainer1{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
  }
  .productDescription p{
    width: 568px;
    color: var(--gray-scale-gray-500, #808080);

/* Body Small/Body Small, 400 */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
  }
  
  /* Otras reglas de estilo... */
  
  