.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card {
  position: relative;
  width: 260px;
  height: 300px;
  margin: 20px;
  padding-bottom: 30px;
  background: #f4f5f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardinfo {
  align-content: normal;
  color: rgb(0, 0, 0);
  padding: 10px;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 42px;
}

.title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1px;
  color: #000000;
  text-transform: capitalize;
}

.description {
  font-size: 12px;
  padding: 10px;
  text-align: left;
  text-transform: capitalize;
}

.details {
  background-color: #f4f5f7; /* Color de fondo para la sección de detalles */
  height: 33%; /* Establecemos la altura al 33% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Añadimos un poco de espacio interior */
}

.heading {
  font-size: 16px; /* Reducimos el tamaño de la fuente para el título */
  color: #000000; /* Cambiamos el color del título */
  text-align: center; /* Centramos el texto del título */
}

.price {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #000;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 2;
}

.card .cardBtn {
  position: absolute;
  left: 50%;
  font-weight: 600;
  margin-top: 150px;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #f5e20c;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card:hover .cardBtn {
  opacity: 1;
  scale: 1;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-45deg, #e0d6526b 0%, rgba(255, 255, 0, 0.445) 100%); */
  transition: transform 0.5s ease;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}

svg {
  margin: 5px;
}
/* Resto de tus estilos... */
