.card {
  position: relative;
  width: 260px;
  height: 375px;
  padding: 20px;
  background: #F4F5F7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%; /* Cambiamos el ancho a 100% para ocupar el 100% del contenedor */
  height: 66%; /* Establecemos la altura al 66% */
  object-fit: cover; /* Ajustamos la imagen para cubrir el espacio disponible */
}

.details {
  background-color: #f4f5f7; /* Color de fondo para la sección de detalles */
  height: 33%; /* Establecemos la altura al 33% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Añadimos un poco de espacio interior */
}

.heading {
  font-size: 16px; /* Reducimos el tamaño de la fuente para el título */
  font-weight: 700;
  color: #000000; /* Cambiamos el color del título */
  text-align: center; /* Centramos el texto del título */
}

.para {
  text-align: center;
  color: #000000; /* Cambiamos el color del texto */
  opacity: 0.7;
  line-height: 1.4;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card .cardBtn {
  position: absolute;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .cardBtn {
  opacity: 1;
  scale: 1;
}

.card .cardBtn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card .cardBtn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #e0d6526b 0%, rgba(255, 255, 0, 0.445) 100%);
  transition: transform 0.5s ease;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}
/* Resto de tus estilos... */

