.title {
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 10px;
    color: #f5f5f5;
  }
  
  .chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart {
    width: 80%; /* Ancho del gráfico */
    max-width: 600px; /* Ancho máximo */
    padding: 20px;
    
    border-radius: 10px; /* Borde redondeado */
    margin: 10px; /* Espacio entre gráficos */
  }
  
  .chart p {
    color: #f5f5f5; /* Color del texto de carga */
  }
  
  label {
    color: #f5f5f5;
  }
  
  .input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
  }
  
  .select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
    width: 150px;
  }
  