.container {
    font-family: "Montserrat-Regular";
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    height: 97vh;
    background-color: #f4f6fa;
    color: #000000;
    text-align: center;

  
  }
  .title {
    font-size: 2em;
    color: #000000;
    font-weight: 900;
    font-family: "Montserrat-Regular";
  }



  @media screen and (max-width: 900px) {
    .view {
      margin-top: 40px;
      background-size:auto;
    }
    .title {
      font-size: 3em;
      margin-left: 0px;
    }
  }
  