
.container {
  background-color: rgb(240, 240, 240);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/Currcula-Henry.png"); Reemplaza con la ruta de tu imagen */
  padding: 100px;
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir todo el contenedor */
}

.profilecontainer {
  text-align: center;
  border: solid none; /* Agregué el grosor y el tipo de borde */
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

/* Añadí margen exterior para separar del contenido cercano */
}


.profilename {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

.profilepicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url('../../images/th.jpg');
  background-size: cover;
  align-items: center;
}
.text {
  margin-bottom: 15px;
}

.profileemail {
  margin-bottom: 15px;
}

/* Botón azul */
.button {
  color: white;
  background-color: #007bff;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  animation: pulse 1s infinite;
}

.button:hover {
  background-color: #0056b3;
}