.profilecontainer {
  display: flex;
  align-items: center;
  background-color: #333; /* Cambia el color de fondo a tu preferencia */
  padding: 10px;
  border-radius: 5px;
}

.profile-dropdown {
  position: relative;
}

.profilepicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff; /* Cambia el color de fondo a tu preferencia */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.separtador {
  border-bottom: 1px solid #ddd;
}

.conteinerList li:last-child {
  border-bottom: none;
}

.profilename {
  font-size: 18px;
  color: #fff; /* Cambia el color de texto a tu preferencia */
  margin: 0;
}

.profileemail {
  font-size: 14px;
  color: #aaa; /* Cambia el color de texto a tu preferencia */
  margin: 0;
}
