.button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 225, 0);
  border-radius: 0.5rem;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  border-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.buttonBorder {
  color: rgba(0, 0, 0, 0.417);
  background-color: rgba(98, 98, 98, 0.404);
  border-radius: 0.5rem;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  color: rgb(71, 71, 66);
  background-color: #e9ed0a;
}

.buttonBorder:hover {
  color: rgb(71, 71, 66);
  background-color: #45454563;
}

.button svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 5rem;
  color: white;
}

.buttonblack:focus svg {
  animation: spin 0.5s linear;
}

.navLink {
  color: rgba(73, 73, 73, 0.628);

  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.navLink:hover {
  color: #000000;
}

.navLinkActive {
  color: rgba(73, 73, 73, 0.628);
  background-color: #c8cb07;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: solid 2px #c8cb07;
  cursor: pointer;
  font-weight: bold;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarContainer {
  background-color: white;
  display: flex;
  width: 100%;
  background-size: cover;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  top: 0;
  z-index: 2;
}

/* Estilos para la barra de navegación */
.navBar {
  margin: 5px 20px; /* Añadido 'auto' para centrar horizontalmente */
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  gap: 3rem;
}

.navtool {
  margin: 5px 20px; /* Añadido 'auto' para centrar horizontalmente */
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  gap: 3rem;
}

/* Estilos para los elementos del navbar */
.navItem {
  display: flex;
  text-decoration: none;
  font-size: medium;
}

.navItem svg {
  margin: 5px;
}

/* Contenedor del logo */
.logoContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 0;
}

.logoImage {
  margin-right: 10px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* Media query para movil */
@media screen and (max-width: 480px) {
  .navbarContainer {
    padding: 20px;
  }

  .navBar {
    flex-direction: column;
    gap: 10px;
  }

  .navItem {
    margin: 0px;
  }
}

/* Media query para movil */
@media screen and (max-width: 480px) {
  .buttonblack {
    align-items: center;
    font-size: 0.9rem;
    padding: 0.5rem 6rem;
    margin-top: 10px;
  }
}
.menulink {
  text-decoration: none;
  color: inherit;
}
